.btc-card-body-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background-color: #fff;
}

.btc-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btc-card-header {
  font-weight: bold;
  margin-bottom: 20px;
}

.btc-card-circle-timer {
  width: 80px;
  height: 80px;
  border: 8px solid black;
  border-top-color: lightgray;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  animation: btc-card-rotate 120s linear forwards;
}

@keyframes btc-card-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btc-card-details {
  margin-bottom: 30px;
}

.btc-card-details div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 16px;
}

.btc-card-bullish {
  color: green;
}

.btc-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btc-card-btn {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s;
}

.btc-card-btn-black {
  background-color: black;
  color: white;
}

.btc-card-btn-white {
  background-color: white;
}

.btc-card-btn-white:hover {
  background-color: #f0f0f0;
}

.btc-card-btn-black:hover {
  background-color: #222;
}
